.theme-dark
  --text: var(--white)
  --inactive: var(--lightblack)
  --background: var(--blackest)
  --panel: var(--blacker)
  --highlight: var(--black)
  --morehighlight: var(--darkest)
  --windowborder: var(--grayer)
  --titleiconscolor: var(--white)
  --validatecolor: var(--darklightgreen)
  --cancelcolor: var(--darklightred)
