.theme-dark, .theme-dark *
  --text-color: var(--white)
  --background-color: var(--blackest)
  --panel-color: var(--blacker)

  --button-inactive-color: red

  --less-highlight-color: var(--black)
  --highlight-color: var(--lightblack)
  --more-highlight-color: red

  --window-border-color: var(--lightblack)
  --window-icons-color: var(--darkest)
  --window-icons-color-hover: var(--white)

  --validate-color: red
  --cancel-color: red
  --disable-color: var(--darkest)
