.theme-light
  --text: var(--black)
  --inactive: var(--lightest)
  --background: var(--whitest)
  --panel: var(--whiter)
  --highlight: var(--brightest)
  --morehighlight: var(--brighter)
  --windowborder: var(--grayer)
  --titleiconscolor: var(--darkest)
  --validatecolor: var(--lightgreen)
  --cancelcolor: var(--lightred)
